####################################
# General
####################################
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp

####################################
# Java / Maven / Spring Boot
####################################
target/
!.mvn/wrapper/maven-wrapper.jar

.mvn/
.mvn/wrapper/

*.class

####################################
# IntelliJ IDEA
####################################
.idea/
*.iml
*.ipr
*.iws

####################################
# Eclipse
####################################
.project
.classpath
.settings/

####################################
# VS Code
####################################
.vscode/

####################################
# Node / React
####################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

build/
dist/

####################################
# Environment / Config
####################################
.env
.env.local
.env.production
.env.development

####################################
# H2 Database Files
####################################
*.mv.db
*.trace.db